<!--ここからmap-->
<h2>gmap</h2>
<!-- form_withはデフォルトでremote: trueの挙動になります -->
<%= form_with url: map_request_path, method: :get do |f|%>
  <%= f.text_field :address %>
  <%= f.submit '地図表示' %>
<% end %>

<div id='map'></div>

<style>
#map{
  height: 600px;
  width: 800px;
}
</style>

<script>
	let mapInstance //この変数はmap.js.erbでも使うのでタイプミスに注意
	
function initMap(){
  let map = new google.maps.Map(document.getElementById('map'), {
  center: {lat: 35.666, lng: 139.690},
  zoom: 8
  });
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK2GCxjx0SLVQjgaS-qbltlAS_9I8cD9Q&callback=initMap" async defer></script>
<!--ここまで-->