<!--ここからmap-->
<h2>gmap</h2>
<!-- form_withはデフォルトでremote: trueの挙動になります -->
<%= form_with url: map_request_path, method: :get do |f|%>
  <%= f.text_field :address %>
  <%= f.submit '地図表示' %>
<% end %>

<style>
      #maps{ height: 400px; width: 400px; }
    </style>
  <div id="maps"></div>
  <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAK2GCxjx0SLVQjgaS-qbltlAS_9I8cD9Q&callback=initMap" async></script>
  <script>
    function initMap() {
      var mapPosition = {lat: 35.663084, lng: 139.699486};
      var mapArea = document.getElementById('maps');
      var mapOptions = {
        center: mapPosition,
        zoom: 8,
      };
      var map = new google.maps.Map(mapArea, mapOptions);

      // ↓↓↓ 当記事ではここから解説 ↓↓↓
      var markerOptions = {
        map: map,
        position: mapPosition,
      };
      var marker = new google.maps.Marker(markerOptions);
      // ↑↑↑ 当記事ではここまで解説 ↑↑↑
    }
  </script>

<!--ここまで-->