<div class='top-text'>
<h2>やりたいことも、楽しいことも、見つけられるかは、自分次第</h2>
</div>

<div class = "main-index-img">
   <%= image_tag 'adventure-climb-climber-1043574.jpg', :size =>'1430x600' %>
</div>

<h2>天気情報</h2>
<br>
<br>
<br>
<h2>投稿新着一覧</h2>

<br>
<br>
<br>
<h2>思い出の一枚</h2>
　<div class="video_img">
	<%= video_tag("/assets/videos/Pexels Videos 1583096.mp4", :autoplay => true, :loop => true, :size =>'1200x600' ) %>
  </div>