// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.yama-infor {
 padding-left: 10;
}
.address-map {
	padding-left: 650;
}
.weather-infor{
	float: right;
	
}
.image-show {
	float: left;
	display: block;
	padding-top:50px;
	padding-left: 80px;
}

.item-name {
	float: top;
	font-size: 25px;
	padding-left: 90px;
}
.item-overviws{
	text-align: center;
}
.item-images {
	padding-left: 10px;
}