// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-info{
	background-color: #FFFF99;
}

#stage {
position: relative;
margin: 0 auto;
width: 100%;
}
.pic {
position: absolute;
}
.pic img {
opacity:0;
-moz-animation: imgTrans 40s infinite;
-webkit-animation: imgTrans 40s ease-in infinite;
animation: imgTrans 40s infinite;
}
#photo1 img {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
animation-delay: 0s;
}
#photo2 img {
-moz-animation-delay: 8s;
-webkit-animation-delay: 8s;
animation-delay: 8s;
}
#photo3 img {
-moz-animation-delay: 16s;
-webkit-animation-delay: 16s;
animation-delay: 16s;
}
#photo4 img{
-moz-animation-delay: 24s;
-webkit-animation-delay: 24s;
animation-delay: 24s;
}
#photo5 img {
-moz-animation-delay: 32s;
-webkit-animation-delay: 32s;
animation-delay: 32s;
}
#photo6 img {
-moz-animation-delay: 40s;
-webkit-animation-delay: 40s;
animation-delay: 40s;
}

@-webkit-keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}
@-moz-keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}
@keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}

.top-info-info {/*親div*/
  position: relative;/*相対配置*/
  }

.top-info-info o {
  position: absolute;/*絶対配置*/
  color: #FFFF00;
  top: 0;
  left: 0;
  }

.top-info-info img {
  width: 100%;
  }


.main-visiual-text {
color: block;
font-size: 23px;
}
.top-about-under  {
	background-image: url(istockphoto-85.jpg);
	width: 100%;
}