// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.top-info{
	background-image: url(/images/800587.jpg);
  color:block;
  background-position: center;
}
.video_img{
  text-align: center;
}
.top-text{
  text-align: center;
  background-color: #808080;
  color: #FFFFFF;
}
.title-text {
  text-align: center;
  font-family:monospace;
  color: block ;
}
.title-text h1{
  font-size: 50px;
}
.top-about-left{
  font-size: 23px;
  text-align: center;
  font-style:italic;
}
.mypage {
  text-align: center;
  font-size: 25px;
  box-shadow: 10px 10px 10px 10px rgba(1,1,0,0.2) inset;
}
.mypage-main {
  background-image: url(/images/1633950.jpg);
  background-position: top;
}
.user-destroy {
  text-align: right;
}
.form-body {
  text-align: center;
  font-size: 20px;
}


#stage {
position: relative;
margin: 0 auto;
width: 100%;
padding-top: 1px;
}
.pic {
position: absolute;
}
.pic img {
opacity:0;
-moz-animation: imgTrans 40s infinite;
-webkit-animation: imgTrans 40s ease-in infinite;
animation: imgTrans 40s infinite;
}
#photo1 img {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
animation-delay: 0s;
}
#photo2 img {
-moz-animation-delay: 8s;
-webkit-animation-delay: 8s;
animation-delay: 8s;
}
#photo3 img {
-moz-animation-delay: 16s;
-webkit-animation-delay: 16s;
animation-delay: 16s;
}
#photo4 img{
-moz-animation-delay: 24s;
-webkit-animation-delay: 24s;
animation-delay: 24s;
}
#photo5 img {
-moz-animation-delay: 32s;
-webkit-animation-delay: 32s;
animation-delay: 32s;
}
#photo6 img {
-moz-animation-delay: 40s;
-webkit-animation-delay: 40s;
animation-delay: 40s;
}

@-webkit-keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}
@-moz-keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}
@keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}

.top-info-info {/*親div*/
  position: relative;/*相対配置*/
  }

.top-info-info o {
  position: absolute;/*絶対配置*/
  color:white;
  top: 0;
  left: 0;
  text-align: center;
  }




.main-visiual-text {
font-size: 22px;
}
.top-about-under  {
  background-image: url(/images/1087554.jpg);
  width: 100%;
}


.bottom_img  {
   text-align: center;
  animation: rotate-anime 3s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(360deg);}
}
.sard-img {
  text-align: left;
}
.sard-img p {
  float: right;
}

/*.glide {
  width: 900px!important;
}*/

.theTarget {

}

.login-user {
  text-align: center;
}

.top-about-page {
  background-color:#E6FFE9;
}
.top-about {
  font-style: oblique;
  display: inline-block;
  padding: 50px;
}
.top-about-iti {
 font-size: 20px;
}
.about-text-main{
  text-align: center;
  font-style: italic;
  font-size: 24px;
  
  background-position: center;
}
.finish-text-about {
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
  font-style: inherit;
}
.about-finish-top {
  text-align: center;
}
.text-finish-last{
  font-style: oblique;
}
.slider{
    overflow-x: hidden;   
}
.slick-list{
    overflow: visible;   
}
.slick-slide{
    text-align: center;   
}
.slider-for img{
    max-width: 280px;
    height: auto;
    box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.8);
    display: inline-block;
}
.slider-for .slick-current img{
    transform: scale(1.10);
}  
/* ページャー */
.slick-dots{
    text-align: center;
    margin-top: 50px;
}
.slick-dots li{
    display: inline !important;
    margin: 0.5em;
}
.slick-dots button{
    display: inline !important;
    width: 1em;
    height: 1em;
    background-color: #ccc;
    text-align: center;
    overflow: hidden;
    text-indent: 2em;
    border-radius: 100%;
}
.slick-dots .slick-current button{
    background-color: aqua;
}
/* スマートフォンの場合 */
@media(min-width : 480px){
    .slider-for img{
        max-width: 300px;
        border: 10px solid #fff;
    }
    .slider-for .slick-current img{
        transform: scale(1.15);
    }
}

.slider{
    overflow-x: hidden;   
}
.slick-list{
    overflow: visible;   
}
.slick-slide{
    text-align: center;   
}
.slider-for img{
    max-width: 280px;
    height: auto;
    box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.8);
    display: inline-block;
}
.slider-for .slick-current img{
    transform: scale(1.10);
}  
/* ページャー */
.slick-dots{
    text-align: center;
    margin-top: 50px;
}
.slick-dots li{
    display: inline !important;
    margin: 0.5em;
}
.slick-dots button{
    display: inline !important;
    width: 1em;
    height: 1em;
    background-color: #ccc;
    text-align: center;
    overflow: hidden;
    text-indent: 2em;
    border-radius: 100%;
}
.slick-dots .slick-current button{
    background-color: aqua;
}
/* スマートフォンの場合 */
@media(min-width : 480px){
    .slider-for img{
        max-width: 300px;
        border: 10px solid #fff;
    }
    .slider-for .slick-current img{
        transform: scale(1.15);
    }
}

