// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top-info{
	background-image: url(1087554.jpg);
  color: #000000;
}
.video_img{
  text-align: center;
}
.top-text{
  text-align: center;
  background-color: #808080;
  color: #FFFFFF;
}
.title-text {
  text-align: center;
  font-family:monospace;
  color: block ;
}
.title-text h1{
  font-size: 50px;
}
.top-about-left{
  font-size: 23px;
  text-align: center;
  font-style:italic;
}


#stage {
position: relative;
margin: 0 auto;
width: 100%;
}
.pic {
position: absolute;
}
.pic img {
opacity:0;
-moz-animation: imgTrans 40s infinite;
-webkit-animation: imgTrans 40s ease-in infinite;
animation: imgTrans 40s infinite;
}
#photo1 img {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
animation-delay: 0s;
}
#photo2 img {
-moz-animation-delay: 8s;
-webkit-animation-delay: 8s;
animation-delay: 8s;
}
#photo3 img {
-moz-animation-delay: 16s;
-webkit-animation-delay: 16s;
animation-delay: 16s;
}
#photo4 img{
-moz-animation-delay: 24s;
-webkit-animation-delay: 24s;
animation-delay: 24s;
}
#photo5 img {
-moz-animation-delay: 32s;
-webkit-animation-delay: 32s;
animation-delay: 32s;
}
#photo6 img {
-moz-animation-delay: 40s;
-webkit-animation-delay: 40s;
animation-delay: 40s;
}

@-webkit-keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}
@-moz-keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}
@keyframes imgTrans {
0% { opacity:0; }
7% { opacity:1; }
18% { opacity:1; }
25% { opacity:0; }
100% { opacity:0; }
}

.top-info-info {/*親div*/
  position: relative;/*相対配置*/
  }

.top-info-info o {
  position: absolute;/*絶対配置*/
  color:white;
  top: 0;
  left: 0;
  text-align: center;
  }

.top-info-info img {
  width: 100%;
  }


.main-visiual-text {
font-size: 22px;
}
.top-about-under  {
  background-image: url(1087554.jpg);
  width: 100%;
  background-position: top ;
}
.js {
  float: left;
  border-color: #FFFFFF;
  padding-top: 70px;
}

.bottom_img {
  text-align: center;
}
